<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-text mx-3">티구시포</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li id='main' class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>메인페이지</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    매장관리
  </div>
  <!-- Nav Item - Tables -->
  <li id='userlog' class="nav-item active">
    <a class="nav-link" href="userlog">
      <i class="fas fa-fw fa-table"></i>
      <span>결제정보</span></a>
  </li>
  <li id='seat-manager' class="nav-item">
    <a class="nav-link" href="seatmanageradmin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>이용관리</span></a>
  </li>
  <li id='users' class="nav-item">
    <a class="nav-link" href="users">
      <i class="fas fa-fw fa-user"></i>
      <span>회원관리</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <div class="sidebar-heading">
    회원 & 이용
  </div>
  <!-- Nav Item - Tables -->
  <li id='userlog' class="nav-item">
    <a class="nav-link" href="/" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
      <i class="fas fa-fw fa-table"></i>
      <span>회원관리</span></a>
    <div id="collapseUser" class="collapse" aria-labelledby="collapseUser" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">회원정보관리</a>
        <a class="collapse-item" href="/">중간제어이용권 구매 관리</a>
        <a class="collapse-item" href="/">기간제이용권 구매 관리</a>
        <a class="collapse-item" href="/">마일리지 사용내역</a>
        <a class="collapse-item" href="/">이용시간 랭킹</a>
      </div>
    </div>
  </li>
  <li id='userlog' class="nav-item">
    <a class="nav-link" href="/" data-toggle="collapse" data-target="#collapseUsage" aria-expanded="true" aria-controls="collapseUsage">
      <i class="fas fa-fw fa-table"></i>
      <span>이용관리</span></a>
    <div id="collapseUsage" class="collapse" aria-labelledby="collapseUsage" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">배치도 이용관리</a>
        <a class="collapse-item" href="/">좌석 이용관리</a>
        <a class="collapse-item" href="/">사물함 이용관리</a>
        <a class="collapse-item" href="/">스터디룸 캘린더</a>
        <a class="collapse-item" href="/">스터디룸 이용관리</a>
        <a class="collapse-item" href="/">고정식 입퇴실 내역</a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <div class="sidebar-heading">
    상품 & 결제
  </div>
  <!-- Nav Item - Tables -->
  <li id='userlog' class="nav-item">
    <a class="nav-link" href="/" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true" aria-controls="collapseProduct">
      <i class="fas fa-fw fa-table"></i>
      <span>상품관리</span></a>
    <div id="collapseProduct" class="collapse" aria-labelledby="collapseProduct" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">좌석구역상품 관리</a>
        <a class="collapse-item" href="/">사물함구역상품 관리</a>
      </div>
    </div>
  </li>
  <li id='userlog' class="nav-item">
    <a class="nav-link" href="/" data-toggle="collapse" data-target="#collapsePay" aria-expanded="true" aria-controls="collapsePay">
      <i class="fas fa-fw fa-table"></i>
      <span>결제현황</span></a>
    <div id="collapsePay" class="collapse" aria-labelledby="collapsePay" data-parent="#collapsePay">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">결제 내역</a>
        <a class="collapse-item" href="/">결제 캘린더</a>
        <a class="collapse-item" href="/">월별 매출현황</a>
        <a class="collapse-item" href="/">판매 분석</a>
        <a class="collapse-item" href="/">알림톡/문자 발송통계</a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <div class="sidebar-heading">
    운영
  </div>
  <!-- Nav Item - Tables -->
  <li id='userlog' class="nav-item">
    <a class="nav-link" href="/" data-toggle="collapse" data-target="#collapseSend" aria-expanded="true" aria-controls="collapseSend">
      <i class="fas fa-fw fa-table"></i>
      <span>전송관리</span></a>
    <div id="collapseSend" class="collapse" aria-labelledby="collapseSend" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">QR코드 전송관리</a>
        <a class="collapse-item" href="/">쿠폰 전송관리</a>
        <a class="collapse-item" href="/">문자 전송관리</a>
        <a class="collapse-item" href="/">알림톡/문자 발송내역</a>
      </div>
    </div>
  </li>
  <li id='userlog' class="nav-item">
    <a class="nav-link" href="/" data-toggle="collapse" data-target="#collapseBoard" aria-expanded="true" aria-controls="collapseBoard">
      <i class="fas fa-fw fa-table"></i>
      <span>게시판</span></a>
    <div id="collapseBoard" class="collapse" aria-labelledby="collapseBoard" data-parent="#collapseBoard">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">공지사항</a>
        <a class="collapse-item" href="/">1:1문의</a>
        <a class="collapse-item" href="/">키오스크 장애 문의</a>
        <a class="collapse-item" href="/">가맹점 게시판</a>
        <a class="collapse-item" href="/">모바일 공지사항</a>
      </div>
    </div>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>


<script>
  navmenu = ['main', 'userlog', 'seat-manager', 'users']
  navmenu.forEach(navmenu => {
    if (location.pathname.includes(navmenu)) {
      let element = document.getElementById(navmenu)
      element.classList.add('active')
    } else {
      let element = document.getElementById(navmenu)
      element.classList.remove('active')
    }
  });
</script>
