<div class="card-body">
  <div class="table-responsive">
    <table class="table" id="dataTable-ex" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>구분</th>
          <th>제목</th>
          <th>일자</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>공지</td>
          <td>스마트 체온측정/출입통제 시스템 안내(8/28마감)</td>
          <td>2020.08.19</td>
        </tr>
        <tr>
          <td>필독</td>
          <td>시간충전권 유효기간 관련 안내</td>
          <td>2020.08.04</td>
        </tr>
        <tr>
          <td>필독</td>
          <td>일회이용권 상품변경 등록 방법 변경</td>
          <td>2020.07.28</td>
        </tr>
        <tr>
          <td>공지</td>
          <td>7월 진행된 시스템 기능개선 내용 알림</td>
          <td>2020.07.25</td>
        </tr>
        <tr>
          <td>작업공지</td>
          <td>시스템 기능 개선 및 키오스크 SW 업데이트</td>
          <td>2020.07.21</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
