<div class="card-body">
  <div class="table-responsive">
    <table class="table" id="dataTable-ex" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>이름</th>
          <th>결제방법</th>
          <th>과세</th>
          <th>결제일시</th>
          <th>좌석번호</th>
          <th>결제상품</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>박유빈</td>
          <td>키오스크</td>
          <td>3000</td>
          <td>2020.08.26</td>
          <td>개인석/24번</td>
          <td>2시간</td>
        </tr>
        <tr>
          <td>최유정</td>
          <td>키오스크</td>
          <td>5000</td>
          <td>2020.08.26</td>
          <td>개인석/23번</td>
          <td>4시간</td>
        </tr>
        <tr>
          <td>김세희</td>
          <td>모바일</td>
          <td>12000</td>
          <td>2020.08.26</td>
          <td>스터디룸/스터디룸</td>
          <td>1시간</td>
        </tr>
        <tr>
          <td>유미라</td>
          <td>키오스크</td>
          <td>5000</td>
          <td>2020.08.26</td>
          <td>개인석/8번</td>
          <td>4시간</td>
        </tr>
        <tr>
          <td>조휘찬</td>
          <td>모바일</td>
          <td>3000</td>
          <td>2020.08.26</td>
          <td>사물함/33번</td>
          <td>4주</td>
        </tr>
        <tr>
          <td>이지민</td>
          <td>키오스크</td>
          <td>150000</td>
          <td>2020.08.26</td>
          <td>개인석/50번</td>
          <td>4주</td>
        </tr>
        <tr>
          <td>김예호</td>
          <td>키오스크</td>
          <td>10000</td>
          <td>2020.08.26</td>
          <td>개인석/53번</td>
          <td>12시간</td>
        </tr>
        <tr>
          <td>김예호</td>
          <td>키오스크</td>
          <td>5000</td>
          <td>2020.08.26</td>
          <td>개인석/53번</td>
          <td>4시간</td>
        </tr>
        <tr>
          <td>임채희</td>
          <td>키오스크</td>
          <td>8000</td>
          <td>2020.08.26</td>
          <td>개인석/19번</td>
          <td>8시간</td>
        </tr>
        <tr>
          <td>권보름</td>
          <td>키오스크</td>
          <td>5000</td>
          <td>2020.08.26</td>
          <td>개인석/24번</td>
          <td>4시간</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
