<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>이름</th>
          <th>예약좌석</th>
          <th>시작시간</th>
          <th>예약시간</th>
          <th>사용종료</th>
          <th>정기권</th>
          <th>이용요금</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>박진환</td>
          <td>A103</td>
          <td>2020-09-24 15:30</td>
          <td>3:00</td>
          <td>2020-09-24 18:30</td>
          <td>N</td>
          <td>5,300</td>
        </tr>
        <tr>
          <td>신윤재</td>
          <td>A103</td>
          <td>2020-09-23 13:30</td>
          <td>5:00</td>
          <td>2020-09-24 18:30</td>
          <td>Y</td>
          <td>0</td>
        </tr>
        <tr>
          <td>하늘</td>
          <td>A103</td>
          <td>2020-09-24 15:30</td>
          <td>3:30</td>
          <td>2020-09-24 19:00</td>
          <td>N</td>
          <td>6,500</td>
        </tr>
        <tr>
          <td>하늘</td>
          <td>A103</td>
          <td>2020-09-24 15:30</td>
          <td>3:30</td>
          <td>2020-09-24 19:00</td>
          <td>N</td>
          <td>5,300</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
